<!-- inserire qui tag di primo.component -->
<app-primo
  [courseName]="title"
  (primoOutput)="onPrimoOutput($event)"
></app-primo>

<p>
  <app-button (eventEmitter)="onButtonEventEmitter($event)"></app-button>
</p>
<p>
  <app-button
    emitValue="Questo non è il valore di default"
    (eventEmitter)="onButtonEventEmitter($event)"></app-button>
</p>
<p>
  <app-button
    buttonText="<i><b>Cliccami! Dai!!!</b></i>"
    [emitValue]="today"
    (eventEmitter)="onButtonEventEmitter($event)"></app-button>
</p>

<hr>

<app-direttive-strutturali></app-direttive-strutturali>

<hr>

<app-direttive-attributo> </app-direttive-attributo>

<hr>

<app-pipe-component></app-pipe-component>
